*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}

.bordered{
    border: 1px solid black;
}

.titlebarrow{
    height:10vh;
}

.mainrow{
    height:90vh;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lime; /* Just to visualize the extent */

}

html, body{
    height: 100vh;
    margin: 0;
}