*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bordered{
    border: 1px solid black;
}

.titlebarrow{
    height:10%;
}

.mainrow{
    height:90%;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: aquamarine;
}

html, body{
    height: 100%;
    margin: 0;
}