html, body{
    height: 100%;
}

.editor{
    /*
    height: 90%;
    */
    position: absolute;
    top: 0;
    bottom: 0;
    /*background-color: yellow;*/
}

.toolbar{
    height: 100%;
    /*
    background-color: palevioletred;*/
}

.main{
    /*background-color: yellowgreen;*/
    height: 100%;
}

.canvasRow{
    border: 1px solid black;
    height: 95%;
}

.breadcrumbRow{
    border: 1px solid black; height: 5%;
}

.editPanel{
    border: 1px solid black; height: 100%;
    /*background-color: aquamarine;*/
}