html, body, .main{
    height: 100%;
    overflow: hidden;
}

.editor{
    position: absolute;
    top: 0;
    bottom: 0;
}

.canvasRow{
    border: 1px solid grey;
    height: 95%;
}

.breadcrumbRow{
    height: 5%;
}
