body{
    overflow-x: hidden;
}

.toolbarbutton{
    overflow: hidden;
    text-align: left;
}

.centralWidget{
    display: block;
    overflow-x: hidden
}

.canvas{
    background-color: darkcyan;
    height: 850px;
}

.breadcrumb{
    position: fixed;
    bottom:0;
}