<!--
        Name: templates.html
        Author: KaleidosCode
        Description: file template dei pannelli per la visualizzazione in dettaglio degli item del diagramma.
-->

<!-- PACKAGE TEMPLATE -->
<script type="text/template" id="packageDiagram.items.Package">
    <div id="panel-package" class="panel-swedesigner">
        <h4><%= _package %></h4>
        <div class="form-group">
            <label for="package-name">Nome:</label>
            <input type="text" class="form-control edit" value="<%=_package%>" name="_package" id="package-name" />
        </div>
        <div class="form-group">
            <label for="package-rank">Importanza:</label>
            <select class="form-control edit" name="_importance" id="package-rank">
                <option value="alta" <% if (_importance=="alta") { %> selected <% } %>>alta</option>
                <option value="media" <% if (_importance=="media") { %> selected <% } %>>media</option>
                <option value="bassa" <% if (_importance=="bassa") { %> selected <% } %>>bassa</option>
            </select>
        </div>
        <!-- INSERITO PULSANTE PER ANDARE AL DIAGRAMMA DELLE CLASSI -->
        <button class="switch btn btn-success btn-block" name="switch" value="<%=id%>">
            <span class="pull-left glyphicon glyphicon-share-alt" aria-hidden="true"></span> Diagramma delle classi
        </button>
    </div>
</script>

<!-- PKGCOMMENT TEMPLATE -->
<script type="text/template" id="packageDiagram.items.PkgComment">
<div id="panel-pkgComment" class="panel-swedesigner">
        <h4>Commento</h4>
        <div class="form-group">
            <label for="comment">Testo:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
    </div>
</script>

<!-- CLASS TEMPLATE -->
<script type="text/template" id="classDiagram.items.Class">
    <div id="panel-class" class="panel-swedesigner">
        <h4><%=_name%></h4>
        <!--OPERAZIONI-->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-title panel-heading" onclick="$('#class-operations').slideToggle('fast');$('#class-attributes').hide()">
                    Operazioni
                    <span class="pull-right glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </div>
                <div id="class-operations" class="panel-body"><!-- DIV CHE INCLUDE LE VARIE OPERAZIONI DELLA CLASSE SELEZIONATA -->
                    <% for(var op in operations) { %>
                    <div class="panel panel-default">
                        <div class="panel-title panel-heading" onclick="$('.class-operation-details').not($(this).next()).hide();$(this).next().toggle()">
                            <%= operations[op]._name %>
                        </div>
                        <div class='class-operation-details panel-body'>
                            <div class="form-group">
                                <label for="<%=operations[op]._name%>">Nome:</label>
                                <input type="text" class="form-control edit" value="<%= operations[op]._name %>" name="operations.<%=op%>._name" id="class-operation-name" />
                            </div>
                            <div class="form-group">    <!-- PRIMA NON C'ERA! AGGIUNTA CREANDO IL TEMPLATE. CONTROLLARE CLASS E ID SUI MARKUP! -->
                                <label for="operations.<%=op%>.returnType">Tipo di ritorno:</label>
                                <input type="text" class="form-control edit" value="<%= operations[op].returnType %>" name="operations.<%=op%>.returnType" id="class-operation-returnType" />
                            </div>
                            <div class="form-group">
                                <label for="class-operation-visibility">Visibilità:</label>
                                <select class="form-control edit" name="operations.<%=op%>._visibility" id="class-operation-visibility">
                                    <option value ="public" <% if(operations[op]._visibility=="public") { %> selected <% } %>>public</option>
                                    <option value ="private" <% if(operations[op]._visibility=="private") { %> selected <% } %>>private</option>
                                    <option value ="protected" <% if(operations[op]._visibility=="protected") { %> selected <% } %>>protected</option>
                                </select>
                            </div>
                            <div id="class-properties"> <!-- PRIMA NON C'ERA! AGGIUNTA CREANDO IL TEMPLATE. CONTROLLARE CLASS E ID SUI MARKUP! -->
                                <h5>Proprietà aggiuntive</h5>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="operations.<%=op%>.isStatic"  class="edit" <% if(operations[op].isStatic=="true") { %>checked <% } %>>static</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="operations.<%=op%>.isAbstract"  class="edit" <% if(operations[op].isAbstract=="true") { %>checked <% } %>>abstract</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="operations.<%=op%>.isFinal"  class="edit" <% if(operations[op].isFinal=="true") { %>checked <% } %>>final</label>
                                </div>
                            </div>
                            <!-- PARAMETRI -->
                            <div class="panel panel-default">
                                <div class="panel-title panel-heading" onclick="$('.class-operation-parameters').not($(this).next()).hide();$(this).next().slideToggle('fast')">
                                    Parametri
                                    <span class="pull-right glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                </div>
                                <div class="class-operation-parameters panel-body">
                                    <% for(var par in operations[op].parameters) { %>
                                    <div class="panel panel-default">
                                        <div class="panel-title panel-heading" onclick="$('.class-operation-parameter-details').not($(this).next()).hide();$(this).next().toggle()">
                                            <%=operations[op].parameters[par]._name%>
                                        </div>
                                        <div class="class-operation-parameter-details panel-body">
                                            <div class="form-group">
                                                <label for="operations.<%=op%>.parameters.<%=par%>._name>">Nome:</label>
                                                <input type="text" class="form-control edit" value="<%=operations[op].parameters[par]._name%>" name="operations.<%=op%>.parameters.<%=par%>._name" id="class-operation-parameter-name" />
                                            </div>
                                            <div class="form-group">    <!-- CAMBIATO DA SELECT A TEXT -->
                                                <label for="operations.<%=op%>.parameters.<%=par%>._type">Tipo:</label>
                                                <input type="text" class="form-control edit" value="<%=operations[op].parameters[par]._type%>" name="operations.<%=op%>.parameters.<%=par%>._type" id="class-operation-parameter-type" />
                                            </div>
                                            <div class="form-group">
                                                <label for="class-operation-parameter-direction">Direzione:</label>
                                                <select class="form-control edit" name="operations.<%=op%>.parameters.<%=par%>._direction" id="class-operation-parameter-direction">
                                                    <option value="in" <% if(operations[op].parameters[par]._direction=="in") { %> selected <% } %>>in</option>
                                                    <option value="out" <% if(operations[op].parameters[par]._direction=="out") { %> selected <% } %>>out</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="operations.<%=op%>.parameters.<%=par%>._default">Valore di default:</label>
                                                <input type="text" class="form-control edit" value="<%=operations[op].parameters[par]._default%>" name="operations.<%=op%>.parameters.<%=par%>._default" id="class-operation-parameter-default" />
                                            </div>
                                            <button class="btn btn-danger btn-block exec" name="deleteParameter.<%=op%>.<%=par%>">
                                                Elimina
                                            </button>
                                        </div>
                                    </div>
                                    <% } %>
                                    <button class="btn btn-primary btn-block exec" name="addParameter.<%=op%>">
                                        <span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span> Parametro
                                    </button>
                                </div>
                            </div>
                            <!-- INSERITO PULSANTE PER ANDARE AL DIAGRAMMA DELL'ATTIVITÀ -->
                            <button class="switch btn btn-success btn-block" name="switch" value="<%= operations[op].id %>">
                                <span class="pull-left glyphicon glyphicon-share-alt" aria-hidden="true"></span> BubbleDiagram
                            </button>
                            <button class="btn btn-danger btn-block exec" name="deleteOperation.<%=op%>">
                                <span class="pull-left glyphicon glyphicon-remove" aria-hidden="true"></span> Elimina
                            </button>
                        </div>
                    </div>
                    <% } %>
                    <button class="btn btn-primary btn-block exec" name="addOperation">
                        <span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span> Operazione
                    </button>
                </div>
            </div>
        </div>
        <!-- ATTRIBUTI -->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-title panel-heading" onclick="$('#class-attributes').slideToggle('fast');$('#class-operations').hide()">
                    Attributi
                    <span class="pull-right glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </div>
                <div id="class-attributes" class="panel-body">
                    <% for(var attr in attributes) { %>
                    <div class="panel panel-default">
                        <div class="panel-title panel-heading" onclick="$('.class-attribute-details').not($(this).next()).hide();$(this).next().toggle()">
                            <%= attributes[attr]._name %>
                        </div>
                        <div class="class-attribute-details panel-body">
                            <div class="form-group">
                                <label for="attributes.<%=attr%>._name">Nome:</label>
                                <input type="text" class="form-control edit" value="<%= attributes[attr]._name %>" name="attributes.<%=attr%>._name" id="class-attribute-name" />
                            </div>
                            <div class="form-group">    <!-- CAMBIATO DA SELECT A TEXT -->
                                <label for="attributes.<%=attr%>._type">Tipo:</label>
                                <input type="text" class="form-control edit" value="<%= attributes[attr]._type %>" name="attributes.<%=attr%>._type" id="class-attribute-type" />
                            </div>
                            <div class="form-group">
                                <label for="class-attribute-visibility">Visibilità:</label>
                                <select class="form-control edit" name="attributes.<%=attr%>._visibility" id="class-attribute-visibility">
                                    <option value="public" <% if(attributes[attr]._visibility=="public") { %> selected <% } %>>public</option>
                                    <option value="private" <% if(attributes[attr]._visibility=="private") { %> selected <% } %>>private</option>
                                    <option value="protected" <% if(attributes[attr]._visibility=="protected") { %> selected <% } %>>protected</option>
                                </select>
                            </div>
                            <div id="class-properties"> <!-- PRIMA NON C'ERA! AGGIUNTA CREANDO IL TEMPLATE. CONTROLLARE CLASS E ID SUI MARKUP! -->
                                <h5>Proprietà aggiuntive</h5>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="attributes.<%=attr%>.isStatic"  class="edit" <% if(attributes[attr].isStatic=="true") { %>checked <% } %>>static</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="attributes.<%=attr%>.isFinal"  class="edit" <% if(attributes[attr].isFinal=="true") { %>checked <% } %>>final</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="attributes.<%=attr%>._default">Valore di default:</label>
                                <input type="text" class="form-control edit" value="<%= attributes[attr]._default %>" name="attributes.<%=attr%>._default" id="class-attribute-default" />
                            </div>
                            <button class="btn btn-danger btn-block exec" name="deleteAttribute.<%=attr%>">
                                <span class="pull-left glyphicon glyphicon-remove" aria-hidden="true"></span> Elimina
                            </button>
                        </div>
                    </div>
                    <% } %>
                    <button class="btn btn-primary btn-block exec" name="addAttribute">
                        <span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span> Attributo
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="class-name">Nome:</label>
            <input type="text" class="form-control edit" value="<%=_name%>" name="_name" id="class-name" />
        </div>
        <div class="form-group">
            <label for="class-rank">Importanza:</label>
            <select class="form-control edit" name="_importance" name="_importance" id="class-rank">
                <option value="alta" <% if(_importance=="alta") { %> selected <% } %>>alta</option>
                <option value="media" <% if(_importance=="media") { %> selected <% } %>>media</option>
                <option value="bassa" <% if(_importance=="bassa") { %> selected <% } %>>bassa</option>
            </select>
        </div>
        <div class="form-group">
            <label for="class-visibility">Visibilità:</label>
            <select class="form-control edit" name="_visibility" name="_visibility" id="class-visibility">
                <option value="public"
                <% if(_visibility=="public") { %> selected <% } %>>public</option>
                <option value="private"
                <% if(_visibility=="private") { %> selected <% } %>>private</option>
                <option value="protected"
                <% if(_visibility=="protected") { %> selected <% } %>>protected</option>
            </select>
        </div>
        <div id="class-properties">
            <h5>Proprietà aggiuntive</h5>
            <div class="checkbox">
                <label><input type="checkbox" name="isStatic" class="edit" <% if(isStatic=="true") { %>checked <% } %>>static</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isAbstract" class="edit" <% if(isAbstract=="true") { %>checked <% } %>>abstract</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isFinal" class="edit" <% if(isFinal=="true") { %>checked <% } %>>final</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isFrozen" class="edit" <% if(isFrozen=="true") { %>checked <% } %>>frozen</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isReadOnly" class="edit" <% if(isReadOnly=="true") { %>checked <% } %>>readonly</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isEnum" class="edit" <% if(isEnum=="true") { %>checked <% } %>>enum</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="isGeneric" class="edit" <% if(isGeneric=="true") { %>checked <% } %>>generic</label>
            </div>
        </div>
    </div>
</script>

<!-- INTERFACE TEMPLATE -->
<script type="text/template" id="classDiagram.items.Interface">
    <div id="panel-interface" class="panel-swedesigner">
        <h4><%= _name %></h4>
        <!--OPERAZIONI-->
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-title panel-heading" onclick="$('#interface-operations').slideToggle('fast');$('#interface-attributes').hide()">
                    Operazioni
                    <span class="pull-right glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </div>
                <div id="interface-operations" class="panel-body"><!-- DIV CHE INCLUDE LE VARIE OPERAZIONI DELLA CLASSE SELEZIONATA -->
                    <% for(var op in operations) { %>
                    <div class="panel panel-default">
                        <div class="panel-title panel-heading" onclick="$('.interface-operation-details').not($(this).next()).hide();$(this).next().toggle()">
                            <%= operations[op]._name %>
                        </div>
                        <div class='interface-operation-details panel-body'>
                            <div class="form-group">
                                <label for="<%=operations[op]._name%>">Nome:</label>
                                <input type="text" class="form-control edit" value="<%= operations[op]._name %>" name="operations.<%=op%>._name" id="interface-operation-name" />
                            </div>
                            <div class="form-group">    <!-- PRIMA NON C'ERA! AGGIUNTA CREANDO IL TEMPLATE. CONTROLLARE CLASS E ID SUI MARKUP! -->
                                <label for="operations.<%=op%>.returnType">Tipo di ritorno:</label>
                                <input type="text" class="form-control edit" value="<%= operations[op].returnType %>" name="operations.<%=op%>.returnType" id="interface-operation-returnType" />
                            </div>
                            <div class="form-group">
                                <label for="interface-operation-visibility">Visibilità:</label>
                                <select class="form-control edit" name="operations.<%=op%>._visibility" id="interface-operation-visibility">
                                    <option value ="public" <% if(operations[op]._visibility=="public") { %> selected <% } %>>public</option>
                                    <option value ="private" <% if(operations[op]._visibility=="private") { %> selected <% } %>>private</option>
                                    <option value ="protected" <% if(operations[op]._visibility=="protected") { %> selected <% } %>>protected</option>
                                </select>
                            </div>
                            <div id="interface-properties"> <!-- PRIMA NON C'ERA! AGGIUNTA CREANDO IL TEMPLATE. CONTROLLARE CLASS E ID SUI MARKUP! -->
                                <h5>Proprietà aggiuntive</h5>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="operations.<%=op%>.isStatic"  class="edit" <% if(operations[op].isStatic=="true") { %>checked <% } %>>static</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="operations.<%=op%>.isAbstract"  class="edit" <% if(operations[op].isAbstract=="true") { %>checked <% } %>>abstract</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="operations.<%=op%>.isFinal"  class="edit" <% if(operations[op].isFinal=="true") { %>checked <% } %>>final</label>
                                </div>
                            </div>
                            <!-- PARAMETRI -->
                            <div class="panel panel-default">
                                <div class="panel-title panel-heading" onclick="$('.interface-operation-parameters').not($(this).next()).hide();$(this).next().slideToggle('fast')">
                                    Parametri
                                    <span class="pull-right glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                </div>
                                <div class="interface-operation-parameters panel-body">
                                    <% for(var par in operations[op].parameters) { %>
                                    <div class="panel panel-default">
                                        <div class="panel-title panel-heading" onclick="$('.interface-operation-parameter-details').not($(this).next()).hide();$(this).next().toggle()">
                                            <%=operations[op].parameters[par]._name%>
                                        </div>
                                        <div class="interface-operation-parameter-details panel-body">
                                            <div class="form-group">
                                                <label for="operations.<%=op%>.parameters.<%=par%>._name>">Nome:</label>
                                                <input type="text" class="form-control edit" value="<%=operations[op].parameters[par]._name%>" name="operations.<%=op%>.parameters.<%=par%>._name" id="interface-operation-parameter-name" />
                                            </div>
                                            <div class="form-group">    <!-- CAMBIATO DA SELECT A TEXT -->
                                                <label for="operations.<%=op%>.parameters.<%=par%>._type">Tipo:</label>
                                                <input type="text" class="form-control edit" value="<%=operations[op].parameters[par]._type%>" name="operations.<%=op%>.parameters.<%=par%>._type" id="interface-operation-parameter-type" />
                                            </div>
                                            <div class="form-group">
                                                <label for="interface-operation-parameter-direction">Direzione:</label>
                                                <select class="form-control edit" name="operations.<%=op%>.parameters.<%=par%>._direction" id="interface-operation-parameter-direction">
                                                    <option value="in" <% if(operations[op].parameters[par]._direction=="in") { %> selected <% } %>>in</option>
                                                    <option value="out" <% if(operations[op].parameters[par]._direction=="out") { %> selected <% } %>>out</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="operations.<%=op%>.parameters.<%=par%>._default">Valore di default:</label>
                                                <input type="text" class="form-control edit" value="<%=operations[op].parameters[par]._default%>" name="operations.<%=op%>.parameters.<%=par%>._default" id="interface-operation-parameter-default" />
                                            </div>
                                            <button class="btn btn-danger btn-block exec" name="deleteParameter.<%=op%>.<%=par%>">
                                                <span class="pull-left glyphicon glyphicon-remove" aria-hidden="true"></span> Elimina
                                            </button>
                                        </div>
                                    </div>
                                    <% } %>
                                    <button class="btn btn-primary btn-block exec" name="addParameter.<%=op%>">
                                        <span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span> Parametro
                                    </button>
                                </div>
                            </div>
                            <!-- INSERITO PULSANTE PER ANDARE AL DIAGRAMMA DELL'ATTIVITÀ -->
                            <button class="switch btn btn-success btn-block" name="switch" value="<%= operations[op].id %>">
                                <span class="pull-left glyphicon glyphicon-share-alt" aria-hidden="true"></span> BubbleDiagram
                            </button>
                            <button class="btn btn-danger btn-block exec" name="deleteOperation.<%=op%>">
                                <span class="pull-left glyphicon glyphicon-remove" aria-hidden="true"></span> Elimina
                            </button>
                        </div>
                    </div>
                    <% } %>
                    <button class="btn btn-primary btn-block exec" name="addOperation">
                        <span class="pull-left glyphicon glyphicon-plus" aria-hidden="true"></span> Operazione
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="interface-name">Nome:</label>
            <input type="text" class="form-control edit" value="<%= _name %>" name="_name" id="interface-name" />
        </div>
        <div class="form-group">
            <label for="interface-rank">Importanza:</label>
            <select class="form-control edit" name="_importance" name="_importance" id="interface-rank">
                <option value="alta" <% if(_importance=="alta") { %> selected <% } %>>alta</option>
                <option value="media" <% if(_importance=="media") { %> selected <% } %>>media</option>
                <option value="bassa" <% if(_importance=="bassa") { %> selected <% } %>>bassa</option>
            </select>
        </div>
        <div class="form-group">
            <label for="interface-visibility">Visibilità:</label>
            <select class="form-control edit" name="_visibility" name="_visibility" id="interface-visibility">
                <option value="public"
                <% if(_visibility=="public") { %> selected <% } %>>public</option>
                <option value="private"
                <% if(_visibility=="private") { %> selected <% } %>>private</option>
                <option value="public"
                <% if(_visibility=="protected") { %> selected <% } %>>protected</option>
            </select>
        </div>
    </div>
</script>

<!-- CLCOMMENT TEMPLATE -->
<script type="text/template" id="classDiagram.items.ClComment">
<div id="panel-clComment" class="panel-swedesigner">
        <h4>Commento</h4>
        <div class="form-group">
            <label for="comment">Testo:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
    </div>
</script>

<!-- CLASS DIAGRAM ASSOCIATION TEMPLATE -->
<script type="text/template" id="classDiagram.items.Association">
    <div id="panel-Association" class="panel-swedesigner">
        <h4>Associazione</h4>
        <div class="from-group">
            <label for="card">Cardinalità:</label>
            <input type="text" class="form-control edit" value="<%=card%>" name="card" id="card" />
        </div>
        <div class="from-group">
            <label for="attribute">Attributo:</label>
            <input type="text" class="form-control edit" value="<%=attribute%>" name="attribute" id="attribute" />
        </div>
    </div>
</script>

<!-- CUSTOMBUBBLE TEMPLATE -->
<script type="text/template" id="bubbleDiagram.items.customBubble">
    <div id="panel-customBubble" class="panel-swedesigner">
        <h4>Bolla personalizzata</h4>
        <div class="form-group">
            <label for="bubbleCode">Testo:</label>
            <textarea class="form-control edit" rows="5" value="<%=bubbleCode%>" name="bubbleCode" id="bubbleCode"></textarea>
            <button class="form-control" value="saveCode" id="saveCode">Salva codice</button>
        </div>
        <div class="from-group">
            <label for="comment">Commento:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
        <button class="btn btn-warning btn-block unembed" name="unembed">
            <span class="pull-left glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Disinnesta
        </button>
    </div>
</script>

<!-- BUBBLEIF TEMPLATE -->
<script type="text/template" id="bubbleDiagram.items.bubbleIf">
    <div id="panel-bubbleIf" class="panel-swedesigner">
        <h4>Bolla if</h4>
        <div class="from-group">
            <label for="condition">Condizione:</label>
            <input type="text" class="form-control edit" value="<%=condition%>" name="condition" id="condition" />
        </div>
        <div class="from-group">
            <label for="comment">Commento:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
        <button class="btn btn-warning btn-block unembed" name="unembed">
            <span class="pull-left glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Disinnesta
        </button>
    </div>
</script>

<!-- BUBBLEELSE TEMPLATE -->
<script type="text/template" id="bubbleDiagram.items.bubbleElse">
    <div id="panel-bubbleElse" class="panel-swedesigner">
        <h4>Bolla else</h4>
        <div class="from-group">
            <label for="comment">Commento:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
        <button class="btn btn-warning btn-block unembed" name="unembed">
            <span class="pull-left glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Disinnesta
        </button>
    </div>
</script>

<!-- BUBBLEFOR TEMPLATE -->
<script type="text/template" id="bubbleDiagram.items.bubbleFor">
    <div id="panel-bubbleFor" class="panel-swedesigner">
        <h4>Bolla for</h4>
        <div class="form-group">
            <label for="initialization">Inizializzazione:</label>
            <input type="text" class="form-control edit" value="<%=initialization%>" name="initialization" id="initialization" />
        </div>
        <div class="form-group">
            <label for="termination">Terminazione:</label>
            <input type="text" class="form-control edit" value="<%=termination%>" name="termination" id="termination" />
        </div>
        <div class="form-group">
            <label for="increment">Incremento:</label>
            <input type="text" class="form-control edit" value="<%=increment%>" name="increment" id="increment" />
        </div>
        <div class="from-group">
            <label for="comment">Commento:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
        <button class="btn btn-warning btn-block unembed" name="unembed">
            <span class="pull-left glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Disinnesta
        </button>
    </div>
</script>

<!-- BUBBLERETURN TEMPLATE -->
<script type="text/template" id="bubbleDiagram.items.bubbleReturn">
    <div id="panel-bubbleReturn" class="panel-swedesigner">
        <h4>Bolla return</h4>
        <div class="from-group">
            <label for="value">Valore:</label>
            <input type="text" class="form-control edit" value="<%=value%>" name="value" id="value" />
        </div>
        <div class="from-group">
            <label for="comment">Commento:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
        <button class="btn btn-warning btn-block unembed" name="unembed">
            <span class="pull-left glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Disinnesta
        </button>
    </div>
</script>

<!-- BUBBLEWHILE TEMPLATE -->
<script type="text/template" id="bubbleDiagram.items.bubbleWhile">
    <div id="panel-bubbleWhile" class="panel-swedesigner">
        <h4>Bolla while</h4>
        <div class="from-group">
            <label for="condition">Condizione:</label>
            <input type="text" class="form-control edit" value="<%=condition%>" name="condition" id="condition" />
        </div>
        <div class="from-group">
            <label for="comment">Commento:</label>
            <input type="text" class="form-control edit" value="<%=comment%>" name="comment" id="comment" />
        </div>
        <button class="btn btn-warning btn-block unembed" name="unembed">
            <span class="pull-left glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Disinnesta
        </button>
    </div>
</script>
