html,body{
    /*overflow-x: hidden;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.col-md-12, .col-md-9, .col-md-2, .col-md-1, #editpanel {
    padding: 3px;
    margin: 0;
}

.col-md-12 {
    width: 100%;
}

.col-md-1 {
    width: 10%;
}

.col-md-9 {
    width: 70%;
}

.col-md-10 {
    width: 80%;
    margin: 0;
}

.col-md-2{
    width: 20%;
}

.toolbar{
    position: absolute;
    background-color: #2b3e50;
    z-index: 1;
    padding: 0 3px 6px 3px;
}

.toolbarbutton{
    overflow: hidden;
    text-align: left;
    padding: 5px 10px;
    margin-bottom: -3px;
    font-size: inherit;
}

.toolbarbutton_minimized{
    font-size: 0;
}

#toggle_container{
    position: absolute;
    z-index: 2;
    background-color: #2b3e50;
}

#toggle_minimize{
    margin: 0 3px 3px 0;
    padding: 0;
}

.centralWidget{
    height: 100%;
    display: block;
    overflow-x: hidden
}

.canvas{
    position:relative;
    top: -50px;
    height: 100vh;
    margin: 0 -12px -55px -12px;
}

#editpanel{
    position: absolute;
    background-color: #2b3e50;
    right:0;
    z-index: 1;
    margin-left: -3px;
    visibility: hidden;
}

.breadcrumb{
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin: 5px 0 5px 0;
}

.btn-color-sq{
    height: 2.25vw;
    width: 2.25vw;
    border: 1px solid lightgrey;
}

.btn-color-none{
    height: 2.25vw;
    width: 13.25vw;
    border: 1px solid lightgrey;
    background-color: transparent;
}

.panel-swedesigner{
    display: inline;
    height: 90vh;
    overflow-y: scroll;
}

.panel-heading{
    cursor: pointer;
    overflow: hidden;
    white-space:normal !important;
    word-wrap: break-word;
}

.packageDiagram, .classDiagram, .bubbleDiagram {
    display: none;
}

.navbar{
    font-size: large;
    margin-bottom: 0;
}

a {
    color: orange;
}

.panel-heading, .panel-body {
    border: 1px solid #485563;
}

.dropdown-menu{
    background-color: #404D59;
}

.panel-body {
    padding: 0.2em;
}

.element-tool-remove {
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.content {
	color: #000;
}

.joint-element:hover .element-tool-remove {
    opacity: 1;
}

.connecting {
    cursor: crosshair !important;
}

#class-properties{
    margin: 10px;
}

.btn-margin{
    margin-top: 0.2em;
}

.classInfo{
    border-top: 1px solid #ebebeb;
    margin: 1em 0;
    padding: 0.5em;
    font-size: 0.85em;
    word-wrap: break-word;
}

.classInfo ul{
    list-style-type: none;
    padding-left: 0.5em;
}

.btn{
    white-space:normal !important;
    word-wrap: break-word;
}
