html,body{
    overflow-x: hidden;
}

.row {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.col-lg-12, .col-lg-9, .col-lg-2, .col-lg-1, #editpanel {
    padding: 3px;
    margin: 0px;
}

.col-lg-12 {
    width: 100%;
}

.col-lg-1 {
    width: 9%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-2{
    width: 16%;
}

.toolbar{
    position: relative;
}

.toolbarbutton{
    overflow: hidden;
    text-align: left;
}

.centralWidget{
    display: block;
    overflow-x: hidden
}

.canvas{
    height: 85vh;
}

.breadcrumb{
    position: fixed;
    bottom:0;
}

.btn-color-sq{
    height: 2.25vw;
    width: 2.25vw;
    border: 1px solid lightgrey;
}

.btn-color-none{
    height: 2.25vw;
    width: 13.25vw;
    border: 1px solid lightgrey;
    background-color: transparent;
}

.panel-swedesigner{
    display: inline;
    /*position: relative;
    right: 14px;*/
    height: 88vh;
    overflow-y: scroll;
}

.panel-heading{
    cursor: pointer;
}

.packageDiagram, .classDiagram, .bubbleDiagram {
    display: none;
}
