html,body{
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.col-lg-12, .col-lg-9, .col-lg-2, .col-lg-1, #editpanel {
    padding: 3px;
    margin: 0px;
}

.col-lg-12 {
    width: 100%;
}

.col-lg-1 {
    width: 8%;
}

.col-lg-9 {
    width: 72%;
}

.col-lg-2{
    width: 20%;
}

.toolbar{
    position: relative;
}

.toolbarbutton{
    overflow: hidden;
    text-align: left;
    padding: 5px 10px;
}

.centralWidget{
    display: block;
    overflow-x: hidden
}

.canvas{
    height: 90vh;
}

.breadcrumb{
    position: fixed;
    bottom: 0;
    margin: 5px 0 5px 0;
}

.btn-color-sq{
    height: 2.25vw;
    width: 2.25vw;
    border: 1px solid lightgrey;
}

.btn-color-none{
    height: 2.25vw;
    width: 13.25vw;
    border: 1px solid lightgrey;
    background-color: transparent;
}

.panel-swedesigner{
    display: inline;
    /*position: relative;
    right: 14px;*/
    height: 90vh;
    overflow-y: scroll;
}

.panel-heading{
    cursor: pointer;
    overflow: hidden;
}

.packageDiagram, .classDiagram, .bubbleDiagram {
    display: none;
}

.navbar{
    font-size: large;
    margin-bottom: 0px;
}

a {
    color: orange;
}

.panel-heading, .panel-body {
    border: 1px solid #485563;
}
